target/
!.mvn/wrapper/maven-wrapper.jar
.DS_Store
release.properties
*.releaseBackup
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.imllogs/
*.xml.versionsBackup
*/.DS_Store
.DS_Store
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
